.modal.fade{id: "bookOwnershipModal", tabindex: "-1", data: {"book-ownership-target": "modal"}}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title カテゴリを選択
        %button.btn-close{type: "button", data: {bs: {dismiss: "modal"}}}
      
      .modal-body
        %p.mb-3 この本のカテゴリを選択してください。
        
        %select{multiple: true, data: {"book-ownership-target": "categorySelect"}}
          / オプションはJavaScriptで動的に追加されます
      
      .modal-footer
        %button.btn.btn-secondary{type: "button", data: {bs: {dismiss: "modal"}}}
          キャンセル
        %button.btn.btn-primary{type: "button", data: {action: "click->book-ownership#save"}}
          保存